@model DoAnChuyennNganh.Models.Lectures 

@{
    ViewData["Title"] = "Chỉnh Sửa Bài Giảng";
}

<div>
    <button class="btn btn-primary py-2 px-3" style="margin-bottom: 0.5cm; border-radius: 15px;" onclick="history.back()">Quay lại</button>
</div>
<h2>Chỉnh Sửa Bài Giảng</h2>

<form asp-action="EditLecture" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="SectionId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Description">Mô tả:</label>
        <textarea id="Description" name="Description" class="form-control">@Model.Description</textarea>
    </div>

    <div class="form-group">
        <label>Video hiện tại:</label>
        @if (!string.IsNullOrEmpty(Model.Video_url))
        {
            <iframe src="@Model.Video_url" width="560" height="315" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        }
    </div>
    <div class="form-group">
        <label for="videoFile">Chọn video mới (nếu có):</label>
        <input type="file" name="videoFile" class="form-control" />
    </div>

    <div class="form-group">
        <label>Tài liệu hiện tại:</label>
        @if (!string.IsNullOrEmpty(Model.Document_url))
        {
            <a href="@Model.Document_url" target="_blank">Tải Tài Liệu</a>
        }
    </div>
    <div class="form-group">
        <label for="documentFile">Chọn tài liệu mới (nếu có):</label>
        <input type="file" name="documentFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
</form>

@section Scripts {
    @{
        <script src="//cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
        <script>
            // Khởi tạo CKEditor
            CKEDITOR.replace('Description');

            // Đảm bảo dữ liệu CKEditor được truyền về khi submit form
            document.querySelector('form').addEventListener('submit', function () {
                for (let instance in CKEDITOR.instances) {
                    CKEDITOR.instances[instance].updateElement();
                }
            });
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
